@import "./variables";
@import "~font-awesome/css/font-awesome";
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');



html{
    box-sizing : border-box; 

}
 
*,*:before,*:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
}

a{
    
    text-decoration: None;
    color:$white;
    &:hover{
        text-decoration:none;
    }
}
ul li{
    list-style: none;
}
h1,h2,h3{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1{
    font-size: 38px;
    margin-bottom: 40px;
}   
h2{
    font-size: 24px;
    margin-bottom: 20px;
}
h3{
    font-size: 22px;
    margin-bottom: 15px;
}
img{
    max-width:100%;
}


.btn{
    border: solid;
    
    padding:20px;
}
.text-center{
    text-align: center;
}

header{
    width: 100%;
    .top-nav{
        background: rgb(80,64,154);
        background: linear-gradient(90deg, rgba(80,64,154,1) 18%, rgba(150,78,194,1) 100%);
        display: flex;
        justify-content: space-between;
        padding: 40px;

        .logo{
            
            font-weight: bold;
            font-size: 28px;
            a{
                color: $white;
                &:hover{
                    color: darken($white, 10%);
                }
            }

        }
        .nav-links{
            width: 40%;
            
            ul {
                display: flex;
                text-transform: uppercase;
                justify-content: space-between;
                width: 100%;
                
                text-align: center;
                
            }
            a{
                color: $white;
                &:hover{
                    color: darken($white,10%);
                }
            }

            
        }

         
    }
}

.main{
    background: rgb(80,64,154);
    background: linear-gradient(90deg, rgba(80,64,154,1) 18%, rgba(150,78,194,1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;


    .main-content{
        .content{
            padding-top: 150px;
            padding-left: 500px;

            h3{
                font-size: 36px;
                color: $white;
            }
        }
        .links{
            padding-top: 10px;
            padding-left: 500px;
            
            .button-holder{
                display: flex;
                justify-content: space-between;
                padding-top: 20px;
                .play-btn{
                    
                    padding:10px;
                    border: solid;
                    border-radius: 20px;
                    color: $white;
                    
                    
                }
            }
            h4{
                color: $white;
                font-weight: lighter;
            }
           
        }
    }
    .main-image{
        padding-bottom: 0px;
        padding-left: 451px;
        padding-top: 10px;
        margin: 0;
        img{
            
            height: 610px;
            width: 500px;
            
        }
    }
    
    

}





footer{
    width: 100%;
    
    .footer-container{
        display: flex;
        background: rgb(80,64,154);
        background: linear-gradient(90deg, rgba(80,64,154,1) 18%, rgba(150,78,194,1) 100%);
        justify-content: space-between;
        height: 100px;
        padding-top: 40px;
        
        .logo{
            color: $white;
            font-weight: bold;
            font-size: 28px;
            padding-left: 60px;
            padding-left: 60px;
        }
        .rights p{
            color: $white;

           .fas {
                color: red !important;
            }
            
            a{
                color: $white;
                &:hover{
                    color: darken($white,10%);
                }
            }
        }
        .footer-logo .media-box{
            

            display: flex;
            margin: 0;
            padding-right: 60px;
            
           
            li{
                padding-right: 10px;
                
            }
            li a{
            display: block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            color: $light-blue;
            background:$white;
            border: 1px solid $white;
            text-align: center;
            border-radius: 50%;
                &:hover{
                    color: $white;
                    background: $light-blue;
                }
            
            }
        }
        
    }
}
 .content{
        padding-top: 50px;
    
    .adoption{
        padding-bottom: 40px;
        h1,h3{
            color: $light-blue;
        }
        
        p{
            color: $text-color;
        }
    }
    
    .expert{
        padding-bottom: 40px;

        h1,h3{
            color: $light-blue;
        }
        
        p{
            color: $text-color;
        }

    }
}    


// lostpet page css of content 
.title{
     padding-top:50px;  
     h1{
         color: $light-blue;
     }
}

.content{
    display: flex;

    .outer-box{
        padding: 50px;
        
        
        .category-box{
            
            border: solid $light-blue ;
            border-radius: 20px;
            padding: 20px;

            h2{
                color: $text-color;
            }
            ol,li{
                list-style: none;
                font-size: 22px;
                font-weight: bold;
                
                a{
                    color: $text-color;
                    &:hover{
                        color: $light-blue;
                    }
                }
            }
            
        }

       h3{
        padding-top: 20px;
        color: $text-color;
        a{
            color: $text-color;
            &:hover{
                color: $light-blue;
            }
        }   
       }
    }

    .pet-detail{
        width: 100%; 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        

        .animal-list{
            padding: 10px;
            align-items: center;
            .individual-animal{
                padding: 20px;
                
                img{
                    height: auto;
                    width: 300px;
                }
            }
        }
    }
}
    

